@page "/apps/lastfm"
@inject JsConsole Js
@attribute [StreamRendering]
@rendermode InteractiveServer
@attribute [Authorize]
@inject IHttpClientFactory ClientFactory
@using matsugane.Components.Pages.Apps.Lastfm.Components
@using matsugane.Data.Lastfm
@using matsugane.Utils
@using Microsoft.AspNetCore.Authorization
@implements IDisposable

<PageTitle>Home</PageTitle>

@if (_tracks == null)
{
    <p>Loading. Please Wait...</p>
}
else if (_tracks.TotalTracks == 0)
{
    <p>No tracks found.</p>
}
else
{
    <div class="flex flex-row items-center justify-between border border-neutral-600/30 rounded bg-neutral-700/50 p-3">
        <div>
            @_lastRefreshed
        </div>

        <div>
            <button class="border border-orange-700/30 rounded
                     bg-orange-800 enabled:hover:bg-orange-700 disabled:opacity-25
                           hover:text-white
                           px-2 py-1
                           disabled:cursor-not-allowed"
                    disabled="@IsRefreshing"
                    @onclick="RefreshData">
                @(!IsRefreshing ? "Refresh Data" : "Refreshing Data...")
            </button>
        </div>
    </div>

    <StatsHeader Tracks="_tracks"/>

    @* ReSharper disable once Html.TagShouldNotBeSelfClosed *@
    <Table Title="Recently Played"
           Headers="@(new[] { "Title", "Artist", "Album", "Played At" })"
           Columns="@(new[] { "Title", "Artist", "Album", "PlayedAtFmt" })"
           Data="_tracks.RecentlyPlayedTracks"
           Widths="@(new[] { 30, 30, 30, 10 })"
    />


    <div class="flex flex-col lg:flex-row gap-5">
        @* ReSharper disable once Html.TagShouldNotBeSelfClosed *@
        <Table Title="Top Artists"
               Headers="@(new[] { "Artist", "Plays", "Tracks", "Albums", "Plays %", "Cum. %" })"
               Columns="@(new[] { "Name", "TotalPlays", "TotalTracks", "TotalAlbums", "PlaysPercentFmt", "CumulativePercentFmt" })"
               Data="_tracks.TopArtists"
        />

        @* ReSharper disable once Html.TagShouldNotBeSelfClosed *@
        <Table Title="Plays By Hour"
               Subtitle=@($"{_tracks.AvgPlaysPerHour} plays per hour")
               Headers="@(new[] { "Hour", "Plays", "Percent" })"
               Columns="@(new[] { "HourFmt", "PlaysFmt", "PercentFmt" })"
               Data="_tracks.PlaysByHours"
        />
    </div>
}

@code {

    private Tracks? _tracks;
    private string? _lastRefreshed;
    private HttpClient? _client;

    private bool IsRefreshing { get; set; }

    private void SetLastRefreshed(bool refreshing)
    {
        IsRefreshing = refreshing;
        _lastRefreshed = refreshing ? "Refreshing..." : $"Last Refresh: {DateTime.Now:HH:mm:ss}";
    }

    protected override async Task OnInitializedAsync()
    {
        await LoadData();
    }

    private async Task LoadData()
    {
        SetLastRefreshed(true);
        _client = ClientFactory.CreateClient();
        _tracks = await Tracks.Build(_client!, true);
        SetLastRefreshed(false);
    }

    private async Task RefreshData()
    {
        SetLastRefreshed(true);
        await LoadData();
        SetLastRefreshed(false);

        // await Js.LogAsync("Refreshing Data. Please wait...");
        // await Js.LogAsync(DateTime.Now.ToString("u"));
    }

    public void Dispose()
    {
        _client?.Dispose();
    }

}