@page "/"
@using System.Globalization
@using matsugane.Components.Home
@attribute [StreamRendering]

<PageTitle>Home</PageTitle>

@if (_tracks == null)
{
    <p>Loading. Please Wait...</p>
}
else
{
    <StatsHeader Tracks="_tracks"/>

    @* ReSharper disable once Html.TagShouldNotBeSelfClosed *@
    <Table Title="Recently Played"
           Headers="@(new[] { "Title", "Artist", "Album", "Played At" })"
           Columns="@(new[] { "Title", "Artist", "Album", "PlayedAtFmt" })"
           Data="_tracks.RecentlyPlayedTracks"
           Widths="@(new[] { 30, 30, 30, 10 })"
    />


    <div class="flex flex-col lg:flex-row gap-5">
        @* ReSharper disable once Html.TagShouldNotBeSelfClosed *@
        <Table Title="Top Artists"
               Headers="@(new[] { "Artist", "Plays", "Tracks", "Albums", "Plays %" })"
               Columns="@(new[] { "Name", "TotalPlays", "TotalTracks", "TotalAlbums", "PlaysPercentFmt" })"
               Data="_tracks.TopArtists"
        />

        @* ReSharper disable once Html.TagShouldNotBeSelfClosed *@
        <Table Title="Plays By Hour"
               Subtitle=@($"{_tracks.AvgPlaysPerHour} plays per hour")
               Headers="@(new[] { "Hour", "Plays", "Percent" })"
               Columns="@(new[] { "HourFmt", "PlaysFmt", "PercentFmt" })"
               Data="_tracks.PlaysByHours"
        />
    </div>
}

@code {

    private Tracks? _tracks;

    protected override async Task OnInitializedAsync()
    {
        _tracks = await Tracks.Build(true);
    }

}